<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemUserMapper">
	<resultMap id="BaseResultMap" type="com.admin.system.entity.SystemUser">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="status" jdbcType="BIT" property="status" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="skin" jdbcType="VARCHAR" property="skin" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="number" jdbcType="VARCHAR" property="number" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="google_auth" jdbcType="VARCHAR" property="googleAuth" />
		<result column="google_auth_status" jdbcType="BIT" property="googleAuthStatus" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
	</resultMap>
	<sql id="columns">
	    id, user_name, password, name, status, remark, skin, email, number, phone, google_auth, google_auth_status, gmt_create, gmt_modified
    </sql>
	<select id="SystemUser_getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		  <include refid="columns"/>
		FROM 
		  t_system_user
		WHERE id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="SystemUser_deleteByPrimaryKey" parameterType="java.lang.Long">
		DELETE from t_system_user
		WHERE id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="SystemUser_insert" parameterType="com.admin.system.entity.SystemUser">
		INSERT INTO t_system_user (id, user_name, password,
		name, status, remark, skin,
		email, number, phone,
		google_auth, google_auth_status, gmt_create,
		gmt_modified)
		VALUES (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR},
		#{skin,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{googleAuth,jdbcType=VARCHAR}, #{googleAuthStatus,jdbcType=BIT},
		#{gmtCreate,jdbcType=TIMESTAMP},
		#{gmtModified,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.admin.system.entity.SystemUser">
		insert into t_system_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="skin != null">
				skin,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="googleAuth != null">
				google_auth,
			</if>
			<if test="googleAuthStatus != null">
				google_auth_status,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=BIT},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="skin != null">
				#{skin,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="googleAuth != null">
				#{googleAuth,jdbcType=VARCHAR},
			</if>
			<if test="googleAuthStatus != null">
				#{googleAuthStatus,jdbcType=BIT},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.admin.system.entity.SystemUser">
		update t_system_user
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=BIT},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="skin != null">
				skin = #{skin,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="googleAuth != null">
				google_auth = #{googleAuth,jdbcType=VARCHAR},
			</if>
			<if test="googleAuthStatus != null">
				google_auth_status = #{googleAuthStatus,jdbcType=BIT},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="SystemUser_update" parameterType="com.admin.system.entity.SystemUser">
		update t_system_user
		set user_name = #{userName,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		status = #{status,jdbcType=BIT},
		remark = #{remark,jdbcType=VARCHAR},
		skin = #{skin,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		number = #{number,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		google_auth = #{googleAuth,jdbcType=VARCHAR},
		google_auth_status = #{googleAuthStatus,jdbcType=BIT},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<sql id="list_where">
        <where>
            <if test="userName != null and userName != ''">
              AND user_name LIKE CONCAT('%', #{userName,jdbcType=VARCHAR} ,'%') 
            </if>
            <if test="password != null">
              AND password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
              AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
              AND status = #{status,jdbcType=BIT}
            </if>
            <if test="remark != null">
              AND remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="skin != null">
              AND skin = #{skin,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
              AND email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="number != null">
              AND number = #{number,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
              AND phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="googleAuth != null">
              AND google_auth = #{googleAuth,jdbcType=VARCHAR}
            </if>
            <if test="googleAuthStatus != null">
              AND google_auth_status = #{googleAuthStatus,jdbcType=BIT}
            </if>
            <if test="gmtCreate != null">
              AND gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
              AND gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
	<select id="list" parameterType="com.admin.system.entity.SystemUserQuery" resultMap="BaseResultMap">
	   SELECT <include refid="columns"/> FROM t_system_user <include refid="list_where" />
	</select>
	<select id="list_count" parameterType="com.admin.system.entity.SystemUserQuery" resultType="java.lang.Long">
       SELECT COUNT(1) FROM (SELECT <include refid="columns"/> FROM t_system_user <include refid="list_where" />) t
    </select>
</mapper>